.lorem{
    display: flex;
    align-items: center;
    color: rgba(83, 50, 0, 0.781);
}

.text{
    border: 0.4rem solid black;
    padding: 0.5rem;
}

.container1{
    display: flex;
}

.container-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 9rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.7rem;
    margin-left: 2rem;
}