.container-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 9rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.7rem;
    margin-left: 2rem;
}

.container-add-substract {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

.container-add-substract button {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: 20px;
    width: 38px;
    height: 38px;
    transition: all 0.3s ease-in-out;
}

.container-add-substract button:hover {
    background-color: rgb(184, 183, 183);
}

.add {
    background-color: rgb(241, 241, 241);
    color: black;
    border: none;
    border-radius: 7px;
    padding: 5px;
    font-size: 14px;
}

.disabled {
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 7px;
    padding: 5px;
    font-size: 17px;
    opacity: 0.3;
    cursor: not-allowed;
}