.notificationStyles {
    position: absolute;
    top: 10rem;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 2rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    background-color: yellow;
    color: violet;
}

.Success {
    background-color: green;
}

.Error {
    background-color: red;
}